.column--capacity{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.capacity__drop{
    flex: 1;
    border: 1px solid #6CB9AA;
    margin-top: 15px;
    border-radius: 4px;
    padding: 15px;
    background: #E8E8E8;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.column__headerAmount, .column__headerUnit{
    margin-right: 5px;
}

.column__settings{
    padding: 5px 7px;
    font-size: 14px;
    border: 1px solid #60A497;
    border-radius: 4px;
    color: #60A497;
}

.capacityTaskItem{
    overflow: hidden;
    background: #A891C3;
    border-radius: 4px;
    padding: 7px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}

.capacityTaskItem__button{
    display: block;
    background: none;
    border: none;
    font-size: 12px;
    text-decoration: underline;
    color: #E8E8E8;
}

.capacityTaskItem__left{
    flex: 1;
}

.capacityTaskItem__title{
    margin: 0;
}
.capacityTaskItem__timeInfo{
    display: flex;
}

.capacity__buffer{
    flex: 1;
    background: #A891C3;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-resizable {
    position: relative;
}
.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}

.capacity__dropOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #6A6A6A;
    opacity: 0.7;
}
